* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fafafa;
}

#root {
  margin: 60px auto;
  padding: 20px 50px 50px;
  max-width: 500px;
  text-align: center;
  background: #fff;
  box-shadow: 2px 2px 0 #eee;
}

input {
  border: 1px solid #ddd;
}

input:focus {
  border-color: #bbb;
  outline: none;
}
